    <footer>
        <div class="textoFooter">
            Desarrollado por Espe
        </div>
        <div class="logoFooter">
            <img src="images/LogoAppGanadera-Letras.png" alt="">
        </div>
    </footer>
</body>
</html>