{{>header_inicio}}
<section class="options">
        <div class="dropdown">
            <button id="btn1" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Gestión Ganado
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item active" href="registro_Categoria">Registrar Categoría</a></li>
              <li><a class="dropdown-item" href="registro_Bovino">Registrar Bovino</a></li>
            </ul>
        </div> 
        <div class="dropdown">
            <button id="btn2" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              Gestión Leche
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item active" href="registro_Distribuidor">Registar Distribuidor</a></li>
                <li><a class="dropdown-item" href="registro_Periodo">Registrar Periodo</a></li>
                <li><a class="dropdown-item" href="registro_LecheDiario">Registar Cantidad Diaria</a></li>
                <li><a class="dropdown-item" href="informe_Leche">Informe Leche</a></li>
            </ul>
        </div>    
    </section>
{{>footer_main}}