{{>header_main archivo="styles/styles_RegistroMain.css" title="Registro de leche Diario"}}
<form class="formulario">
        <h2>Registro de leche Diario</h2>
        <h5>Periodo del 01/08/2021 al 15/08/2021</h5>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label" id="fecha">Fecha:</label>
            </div>
            <div class="col-auto" >
                <input type="date" class="form-control" >
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label  class="form-label">Total de Litros:</label>
            </div>
            <div class="col-auto" id="textBox">
                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <p>
            <button type="button" class="btn btn-primary btn-sm col-auto">Registrar</button>
        </p>
    </form>
{{>footer_main}}