{{>header_main archivo="styles/styles_RegistroMain.css" title="Registro Periodo"}}
    <form class="formulario" action="/registro_Periodo" method="POST">
        <h2>Registrar Periodo</h2>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label" id="fecha">Fecha de Inicio:</label>
            </div>
            <div class="col-auto">
                <input type="date" name="fechaInicio" class="form-control" >
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">Fecha de Fin:</label>
            </div>
            <div class="col-auto">
                <input type="date" name="fechaFin" class="form-control" >
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label  class="form-label">Descripción:</label>
            </div>
            <div class="col-auto" id="textBox">
                <input type="text" name="descripcion" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label  class="form-label">Precio de la Leche:</label>
            </div>
            <div class="col-auto" id="textBox">
                <input type="number" name="precio" step="0.01" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <p>
            <button type="submit" class="btn btn-primary btn-sm col-auto">Registrar</button>
        </p>
    </form>
{{>footer_main}}