{{>header_main archivo="styles/styles_RegistroMain.css" title="Registro Bovino"}}
 <form class="formulario" action="/registro_Bovino" method="POST">
        <h2>Registrar Bovino</h2>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label" id="codigo"  >Código:</label>
            </div>
            <div class="col-auto" id="textBox">
                <input type="text" class="form-control" name="codigo">
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">Nombre:</label>
            </div>
            <div class="col-auto" id="textBox">
                <input type="text" class="form-control" name="nombre">
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">Fecha de Nacimiento:</label>
            </div>
            <div class="col-auto">
                <input type="date" class="form-control" name="fechaNac">
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">Género:</label>
            </div>
            <div class="col-auto" id="textBox">
                <select class="form-select form-select-sm" name="sexo" >
                    <option selected>Seleccione</option>
                    <option value="Macho">Macho</option>
                    <option value="Hembra">Hembra</option>
                </select>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">Categoría:</label>
            </div>
            <div class="col-auto" id="textBox">
                <select class="form-select form-select-sm" name="categoria">
                    <option selected>Seleccione</option>
                    {{#each  this}}
                        {{#if (isdefined Codigo_cat)}}
                        <option value = "{{Codigo_cat}}"> {{Nombre_cat}}</option>
                        {{/if}}
                    {{/each}}                
                </select>
            </div>
        </div>
        <p>
            <button type="submit" class="btn btn-primary btn-sm col-auto">Registrar</button>
        </p>
    </form>
{{>footer_main}}