{{>header_main archivo="styles/styles_RegistroMain.css" title="Registro Distribuidor"}}
<form class="formulario">
        <h2>Registro de Distribuidor</h2>
        <div class="row g-3 align-items-center" id="Nombre">
            <div class="col-auto">
                <label  class="form-label">Nombre:</label>
            </div>
            <div class="col-auto" id="textBox">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label  class="form-label">Ruc:</label>
            </div>
            <div class="col-auto" id="textBox">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label  class="form-label">Direccion:</label>
            </div>
            <div class="col-auto" id="textBox">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <p>
            <button type="button" class="btn btn-primary btn-sm col-auto">Registrar</button>
        </p>
    </form>
{{>footer_main}}