body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: 0px auto;
}
header {
    margin: 0;
    background-color: #3E73B9;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start;
}

.textoHeader {
    text-align:right;
    margin: 3%;
}
.logoHeader {
    text-align: left;
    padding: 0;
}
.logoHeader img{
    width: 20%;
    margin: 3% 10%;
}
header a{
    display:inline-block;
    text-decoration: none;
    color: white;
}
/* codigo section */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71vh !important;
}

.dropdown button{
    height: 180px;
    width: 200px;
}
#btn1{
    background-image: url(../images/GestionGanado.png);
    background-position:left bottom;
    margin-right: 50px;
}
#btn2{
    background-image: url(../images/GestionLeche.jpg);
    margin-left: 50px;
}
.dropdown {
    display:inline-block;
}

/* Codigo para el footer */
footer {
    margin: 0 ;
    background-color: #3E73B9;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: flex-start;
}

footer  div{
    display: inline-block;
    color: white;
    margin: 0;
}

.textoFooter {
    text-align: left;
    margin: 0;
    text-align: center;
    padding: 2%;
}


@media (max-width: 840px) {    
    .logoHeader img{
        width: 40%;
        padding: 2%;
    }
    .textoHeader {
        padding: 2%;
    }
}
@media (max-width: 760px) {
    .textoHeader a{
        font-size: 0.70rem;
    }
}
@media (max-width: 666px) {
    .textoHeader a {
        font-size: 0.8rem;
    }
    .textoFooter{
        font-size: 0.85em;
    }
    .logoHeader img{
        width: 40%;
    }
    .textoHeader{
        display: grid;
        grid-row: inherit;
        width: 90%;
    }
    .textoHeader a{
        padding: 1%;
    }
    #aux{
        display: none;
    }
}
@media (max-width: 550px) {
    .options{
        display: flexbox;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #btn1,#btn2{
        margin: 0 0;
    }
    .textoFooter{
        font-size: 0.8rem;
        margin:  0;
    }
    .textoHeader a{
        font-size: 0.8rem;
        padding: 1%;
    }
}
@media (max-width: 400px) {
    .dropdown button{
        height: 150px;
        width: 150px;
    }
    .logoHeader img{
        width: 40%;
        margin:  2% 1% 0 2%;
        padding: 1%;
    }
    #btn1{
        background-position:right;
    }
    .textoFooter {
        font-size: 0.8rem;
        padding: 2%;
    }
    #aux{
        display: inline;
    }
    .textoHeader{
        display: inline;
        padding: 1%;
        margin:  0 5% 0 0;
    }
    header{
        display: flexbox;
        flex-direction: column; 
    }
    .textoHeader a,.textoFooter{
        font-size: 0.95rem;
    }
}
@media (max-width: 290px) {
    header{
        display: flexbox;
        flex-direction: column; 
    }
    .textoHeader{
        align-self:flex-end;
        padding: 0;
    }
    #aux{
        display: inline;
    }
    .textoHeader{
        display: inline;
    }
    .textoHeader a,.textoFooter{
        font-size: 0.85rem;
    }

}
@media (min-height: 560px) {
    .options{
        height: 76vh !important;
    }
}
@media (min-height: 640px) {
    .options{
        height: 78vh !important;
    }
}
@media (min-height: 710px) {
    .options{
        height: 79vh !important;
    }
}
@media (min-height: 730px) {
    .options{
        height: 81vh !important;
    }
}
@media (min-height: 810px) {
    .options{
        height: 82.5vh !important;
    }
}
@media (max-width: 1024px) and (min-height: 1366px), (max-width: 768px) and (min-height: 1024px){
    .textoFooter{
        font-size: 1.6rem;
        padding: 2%;
    }
    .textoHeader{
        align-self:flex-end;
        padding: 0;
    }
    #aux{
        display: inline !important;
    }
    .textoHeader{
        display: inline !important;
    }
    header{
        display:grid;
        grid-column: 49% 49%;
    }
    .logoHeader img{
        width: 40%;
        margin:  2% 1% 0 2%;
        padding: 1%;
    }
    .textoHeader a {
        font-size: 1.4rem;
        padding: 2%;
    }
    .dropdown button{
        height: 280px;
        width: 300px;
    }
    .dropdown button{
        font-size: 2rem;
    }
    #btn1{
        background-image: url(../images/GestionGanadoAux.png);
        background-position:left bottom;
        margin-right: 50px;
    }
    .options{
        height: 74vh !important;
    }
    footer{
        height: 10vh !important;
    }
}