body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: 0px auto;
}

header {
    margin: 0;
    background-color: #3E73B9;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: flex-start;  
}

.textoHeader {
    text-align:right;
    margin: 3%;
    width: 60%;
}
.logoHeader {
    text-align: left;
    padding: 0;
}

.logoHeader img{
    width: 20%;
    margin: 3% 10%;
}

header a{
    display:inline-block;
    text-decoration: none;
    color: white;
}

.logo img{
    width: 40%;
}
.logo{
    text-align: left;
}
/* Codigo para section portada */
.portada {
    height: 80vh;
    background-image: url(../images/Portada.png);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;  
}
#MessageS p{
    margin: 0 6%;
}
.portada div {
    text-align: center;
    color: white;
}

section {
    margin: 0 ;
    
}

/* Codigo para section servicios */

.servicios h1 {
    color: #3E73B9;
    margin: 2%;
    text-align: center;
}

.servicios h2{
    color:darkgreen;
    margin: 2%;
}

.servicios div img {
    width: 20%;
}
.servicios div p {
    text-align: justify;
}
#h1Ser{

    padding-left: 1%;
}
.servicios div{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.h2Servicios {
    text-align: right;
    padding-right: 1%;
    
}
#Message p{
    margin-left: 3%;
    margin-right: 3%;
}
#Message img{
    padding: 0 3%;
}
/* css para section contactos */

.contactos h2 {
    color: #3E73B9;
    text-align: center;
}
.contactos p {
    text-align: center;
}

.contactos p a img {
    width: 35px;
    margin: 10px;
}

.contactos p a {
    text-decoration: none;
}

/* Codigo para el footer */
footer {
    margin: 0 ;
    background-color: #3E73B9;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: flex-start;
}


footer  div{
    display: inline-block;
    color: white;
    margin: 0;
}

footer div img {
    width: 20%;
    margin: 2%;
}
.textoFooter {
    text-align: left;
    margin: 3%;
}
.logoFooter {
    text-align: right;
}
@media (max-width: 1024px) and (min-height: 1366px), (max-width: 768px) and (min-height: 1024px) {
    .servicios, .portada,.contactos,.textoFooter{
        font-size: 1.3rem;
    }
    .logoHeader img{
        width: 40%;
        margin: 5% 10%;
    }
    .textoHeader a {
        font-size: 1.4rem;
        padding: 2%;
    }
}
@media (max-width: 840px) {    
    .logoHeader img{
        width: 40%;
        padding: 2%;
    }
    .textoHeader {
        padding: 2%;
    }
}

@media (max-width: 760px) {
    section { 
        display:table-row;
    }
    .textoHeader a{
        font-size: 0.70rem;
    }
    .servicios, .portada,.contactos{
        font-size: 0.8rem;
    }
    .servicios div img {
        width: 30%;
    }
}
@media (max-width: 666px) {
    .textoHeader a {
        font-size: 0.8rem;
    }
    .servicios, .portada,.contactos,.textoFooter{
        font-size: 0.85em;
    }
    .logoHeader img{
        width: 50%;
    }
    .textoHeader{
        display: grid;
        grid-row: inherit;
        width: 90%;
    }
    .textoHeader a{
        padding: 1%;
    }
    #aux{
        display: none;
    }
}
@media (max-width: 600px) {
    .portada {
        height: 60vh;
        background-position:unset;

    }
    footer div img {
        width: 40%;
        padding: 2%;
    }
}
@media (max-width: 330px) {
    .textoHeader a{
        font-size: 0.60rem;
    }
    .servicios, .portada,.contactos{
        font-size: 0.65rem;
    }
    #aux{
        display: inline;
    }
    .textoHeader{
        display: inline;
    }
    header{
        display: flexbox;
        flex-direction: column; 
    }
    .servicios div img {
        width: 40%;
    }
    .contactos p a img {
        width: 20px;
        
    }
}