/* Codigo para el header */
body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: 0px auto;
}
header {
    margin: 0;
    background-color: #3E73B9;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: flex-start; 
}
.textoHeader {
    text-align:right;
    margin: 3%;
}
.logoHeader {
    text-align: left;
    padding: 0;
}
.logoHeader img{
    width: 20%;
    margin: 3% 10%;
}
header a{
    display:inline-block;
    text-decoration: none;
    color: white;
}
/* codigo para form */
#textBox{
    width: 45%;
}
.formulario {
    margin: 2% 5%;
    height: 68vh !important;
}
.formulario h2{
    text-align: center;
}
.formulario h5{
    text-align: center;
    font-weight:normal;
    margin: 30px 0;
}
.formulario div {
    margin: 8px 10%;
    text-align: center;
    justify-content:space-between;   
}
.formulario p{
    text-align: center;
}
.btn {
    background-color:#3E73B9 !important;
    /* margin: 4% 0; */
    margin: 0 0;
    padding: 1% 3% !important;
}

/* Codigo para el footer */
footer {
    margin: 0 ;
    background-color: #3E73B9;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: flex-start;
}

footer  div{
    display: inline-block;
    color: white;
    margin: 0;
}

.textoFooter {
    text-align: left;
    margin: 0;
    text-align: center;
    padding: 1.8%;
}

/* Codigo para hacer responsive */
@media (max-width: 920px) {
    .formulario div {
        margin: 5px 5%;  
    }
    .logoHeader img{
        width: 40%;
        padding: 2%;
    }
    .formulario{
        height: auto !important;
    }
    header> h1{
        font-size: 2em;
        padding: 3%;
    }
    .textoHeader a,.textoFooter{
        padding: 3%;
    }
    #textBox{
        width: 60%;
    }
}
@media (max-width: 840px) {    
    .logoHeader img{
        width: 40%;
        padding: 2%;
    }
    .textoHeader {
        padding: 2%;
    }
    .btn {
        margin: 2%;
        padding: 1% 3% !important;
    }
}
@media (max-width: 760px) {
    .textoHeader a{
        font-size: 0.70rem;
    }
}
@media (max-width: 650px) {
    .formulario div {
        margin: 5px 3%;  
    }
    header> h1{
        font-size: 1.4rem;
        align-self: center;
    }
    .textoFooter{
        font-size: 0.8rem;
    }
    #aux{
        display: none;
    }
    .textoHeader a {
        font-size: 0.8rem;
        padding: 1%;
    }
    .textoHeader{
        display: grid;
        grid-row: inherit;
        width: 90%;
    }
    .logoHeader img{
        width: 40%;
        margin:  2% 1% 0 2%;
        padding: 1%;
    }
}
@media (max-width: 465px) {
    .formulario div {
        margin: 2px 3%;  
        display: flexbox;
        flex-direction: column; 
        align-items: flex-start !important;
        font-size: 0.75rem;
    }
    #textBox{
        width: 94%;
    }
    header> h1{
        font-size: 1.2rem;
        align-self: center;
    }
    .textoHeader a,.textoFooter{
        font-size: 0.95rem;
    }
    .textoFooter {
        padding: 3%;
    }
    input, select{
        font-size: 0.75rem !important;
    }
    #aux{
        display: inline;
    }
    .textoHeader{
        display: inline;
    }
    header{
        display: flexbox;
        flex-direction: column; 
    }
}
@media (max-width: 330px) {
    .textoHeader a{
        font-size: 0.60rem;
    }
    #aux{
        display: inline;
    }
    .textoHeader{
        display: inline;
    }
    header{
        display: flexbox;
        flex-direction: column; 
    }
    input, select{
        font-size: 0.7rem !important;
    }
}
@media (min-height: 570px) {
    .formulario{
        height: 70vh !important;
    }
}
@media (min-height: 730px) {
    .formulario{
        height: 73vh !important;
    }
}
@media (min-height: 812px) and (max-height: 900px) {
    .formulario{
        height: 74vh !important;
    }
}
@media (max-width: 1024px) and (min-height: 1366px), (max-width: 768px) and (min-height: 1024px) {
    header{
        height: auto !important;
    }
    header> h1{
        font-size: 2.5em;
        padding: 3%;
    }
    .textoHeader{
        padding: 3%;
        font-size: 1.5em;
    }
    .formulario, .textoFooter{
        font-size: 1.5em;   
    }
    .formulario div {
        margin: 2% 1%;  
    }
    .btn {
        font-size: 1.2rem !important;
        padding: 2% 4% !important;
    }
    input, select{
        font-size: 1.4rem !important;
    }
    footer div img {
        width: 35%;
        padding: 3%;
    }
    #textBox{
        width: 55%;
    }
    .formulario{
        height: 70vh;
    }
    .logoHeader img{
        width: 40%;
        margin: 5% 10%;
    }
    #aux{
        display: none;
    }
}